* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: white;
}

.blue-bg {
  background-color: #3098f3;
}

.container {
  width: 1120px;
  margin: 0 auto;
  display: flex;
}

.header {
  padding: 27px 0 245px;
  align-items: center;
  justify-content: space-between;
}

.logo:hover {
  opacity: 0.7;
}

.main-menu a {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.main-menu a:hover {
  color: #ffcc00;
}

.main-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu li {
  padding-left: 36px;
}

.heading-box {
  padding-bottom: 101px;
  flex-direction: column;
}

.heading {
  max-width: 583px;
  font-size: 51px;
  font-weight: lighter;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #ffffff;
}
span {
  font-family: Archivo;
  color: #ffcc00;
}

.rose {
  background-color: #fe6571;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: relative;
  right: -120px;
}

.blue {
  background-color: #082c4e;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: relative;
  right: -30px;
}

.yellow {
  background-color: #ffcc00;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: relative;
  right: 60px;
}

.white {
  background-color: #f2eae2;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: absolute;
}

.circles {
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-right: 139px;
}

.design-team-box {
  display: flex;
  padding: 165px 0 128px;
}

.design-box {
  display: flex;
  width: 560px;
}

.design-box-circules {
  justify-content: flex-end;
}

.design-team-text {
  max-width: 470px;
  padding: 35px 0;
  font-size: 42px;
  line-height: 50px;
  color: #05051e;
}

.circles-3 {
  max-width: 416px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.face {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.face-bg {
  display: flex;
  background-color: #3098f3;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 196px;
}

.circles-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bulb {
  margin-right: 11px;
}

.bulb-bg {
  display: flex;
  background-color: #fe6571;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 196px;
}

.screw {
  margin-left: 11px;
}

.screw-bg {
  display: flex;
  background-color: #ffcc00;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 196px;
}

.design-products {
  display: flex;
  flex-direction: column;
}

.portfolio {
  display: flex;
  padding-bottom: 56px;
  padding-top: 24px;
}

.portfolio a:hover {
  text-decoration: underline;
}

.text-box {
  background-color: #f2eae2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio-pd {
  display: inline-block;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  color: #3098f3;
}

.portfolio-text {
  font-weight: lighter;
  font-size: 32px;
  line-height: 38px;
  color: #05051e;
}

.case-study {
  font-size: 18px;
  line-height: 23px;
  color: #05051e;
}

.link {
  padding-top: 20px;
}

.link a {
  font-size: 18px;
  line-height: 23px;
  color: #05051e;
  text-decoration: none;
}

.link a:hover path {
  fill: black;
}

.arrow {
  vertical-align: middle;
  margin-right: 3px;
}

.portfolio:nth-child(even) {
  flex-direction: row-reverse;
}

.button-pd {
  justify-content: center;
  margin-bottom: 85px;
}

.button {
  cursor: pointer;
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #3098f3;
  padding: 16px 30px;
  border: none;
}

.button:hover {
  background-color: #082c4e;
}

.yellow-bg {
  background-color: #ffcc00;
  padding: 203px 0;
}

.yellow-box {
  flex-direction: column;
  padding: 20px 0 23px;
}

.heading-black {
  max-width: 494px;
  font-weight: lighter;
  font-size: 51px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #05051e;
  padding-bottom: 39px;
}

.heading-yellow-2 {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #05051e;
}

.yellow-text {
  max-width: 494px;
  font-size: 24px;
  line-height: 34px;
  color: #05051e;
  padding-bottom: 53px;
}

.article {
  flex-direction: column;
  padding: 160px 0 65px;
}

.heading-article {
  max-width: 500px;
  font-weight: lighter;
  font-size: 51px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #05051e;
  padding-bottom: 10px;
}

.text-article {
  font-size: 24px;
  line-height: 34px;
  color: #05051e;
  padding: 10px 0 55px;
}

.blue-cards-3 {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  height: 100%;
  margin-bottom: 15px;
}

.blue-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 352px;
  background-color: #3098f3;
  padding: 40px;
}

.blue-card-text {
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  padding-top: 15px;
}

.link-square {
  display: flex;
  justify-content: flex-end;
  padding-top: 42px;
}

.link-square path:hover {
  fill: white;
}

.link-right {
  display: flex;
  justify-content: flex-end;
}

.footer-bg {
  background-color: #082c4e;
  padding: 136px 0 100px;
  background-image: url(../img/circles2.svg);
  background-repeat: no-repeat;
  background-position: right top;
}

.heading-footer {
  max-width: 564px;
  font-weight: lighter;
  font-size: 51px;
  line-height: 67px;
  letter-spacing: 1.12px;
  color: #ffffff;
  padding-bottom: 40px;
}

.heading-box {
  flex-direction: column;
}

.button-footer {
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  color: #082c4e;
  background: #ffcc00;
  border-radius: 100px;
  padding: 16px 34px;
  border: none;
}

.button-footer:hover {
  background: #3098f3;
  color: white;
}

.footer-box {
  padding-top: 184px;
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}

.address-menu-box {
  max-width: 352px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 253px;
}

.address {
  max-width: 352px;
  flex-direction: column;
  font-size: 17px;
  line-height: 34px;
  color: #ffffff;
  padding-bottom: 50px;
}

.copyright {
  font-size: 17px;
  line-height: 34px;
  color: #ffffff;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-ft-1 {
  max-width: 146px;
}

.menu-ft-1 a {
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  text-decoration: none;
}

.menu-ft-1 a:hover {
  text-decoration: underline;
}

.menu-ft-2 {
  max-width: 146px;
  padding-right: 80px;
}

.menu-ft-2 a {
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  text-decoration: none;
}

.menu-ft-2 a:hover {
  text-decoration: underline;
}

.form-line {
  border-bottom: 1px solid #d9d9da;
}

.no-spam {
  font-size: 12px;
  line-height: 34px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 10px;
}

.subscribe {
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.7);
  background: #082c4e;
  border: none;
}

.button-subscribe {
  cursor: pointer;
  border: none;
  background: #082c4e;
  margin-left: 100px;
  width: 19px;
  height: 10px;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  align-self: baseline;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.social-pd:hover path {
  fill: #3098f3;
}

.social-pd {
  padding-top: 15px;
}
